nav {
    position: sticky;
    top: 0;
}

.topnav {
    background-color: #0066ff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    gap: 4px;
}

/* .topnav > a {
    flex: 0 0 20%;
    border-radius: 25px;
} */

/* Style the links inside the navigation bar */
.topnav a {
    flex: 0 0 20%;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 10px;
    font-weight: 600;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #66a3ff;
    color: black;
}

/* Add the color to the active/current link */
.topnav a.active {
    background-color: rgb(139, 176, 250);
    color: black;
}

body {
    font-family: "Source Serif Pro", serif;
    margin: 0 auto;
    max-width: 900px;
    background-color: #cce0ff;
    text-align: justify;
}

button {
    background-color: rgb(139, 176, 250);
    border-radius: 25px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: #0066ff;
    cursor: pointer;
}

h1 {
    font-stretch: extra-expanded;
    font-weight: bold;
    color: #0066ff;
    text-shadow: 2px 2px 5px;
}

/* h3 {
    font-stretch: semi-expanded;
    margin: 0;
} */

table,
th,
td {
    border: 1px solid black;
}
.about-me {
    display: flex;
    flex-direction: row;
    height: auto;
    gap: 10px;
}

.about-me p {
    margin: 0;
}

#member-section {
    display: none;
}

.profile-photo {
    height: 250px;
    margin-right: 16px;
    border-radius: 25px;
}

.video {
    width: 100%;
    max-width: 420px;
    height: 315px;
}

/* Create two equal columns that floats next to each other */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    gap: 10px;
}
.orch-img {
    width: 200px;
    height: 250px;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.flex_child {
    padding: 15px;
}
.flex-container > .flex_child {
    flex: 0 0 45%;
}
.flex-container > .orch-img {
    flex: 0 0 20%;
}
.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: #0066ff;
    color: white;
    font-weight: 600;
}

/* CSS for memory game */
.grid_memory {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
    box-sizing: border-box;
    justify-items: center;
    justify-content: space-between;
    gap: 2%;
}

.selected {
    visibility: visible;
}

.found {
    visibility: visible;
}
.closed {
    visibility: hidden;
}

.memoryimg {
    width: 100%;
    place-self: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0;
}

.orchmemory {
    width: 100%;
    padding-top: 5px;
    border-radius: 25px;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 0 10px;
    }
    .topnav {
        flex-wrap: wrap;
    }
    .topnav > a {
        flex: 0 0 35%;
    }
    .about-me {
        flex-wrap: wrap;
    }
    /* .grid_memory {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    } */
}

.letCelebrate {
    color: rgb(250, 247, 104);
    z-index: 1;
    font-size: 4rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    margin: auto;
    position: fixed;
    left: 30rem;
    top: 30rem;
    /* bottom: 10rem;
    right: 10rem; */
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px rgb(250, 247, 104);
    }
    to {
        text-shadow: 0 0 20px rgb(245, 242, 72), 0 0 10px rgb(249, 245, 42);
        transform: rotateZ(360deg);
    }
}
