
img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
    /*this fit adapt img to container - contain or cover*/
    object-fit: cover;
    object-position: center;
    
}

input {
    display: block;
}